/* Estilo global para a fonte e a cor de fundo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
    display: block;
}

header img {
    height: 80px;
    width: 80px;
    border-radius: 10%;
}

header h1 {
    font-size: 36px;
    color: #007bff;
}

header p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

/* Estilos para títulos */
h2 {
    text-align: center;
}

/* Container para a seleção de matérias */
.subjects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos para cada matéria */
.subject {
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subject:hover {
    background-color: #02458d;
}

.subject h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.subject p {
    font-size: 12px;
}

/* Esconder as seções de quiz e resultados inicialmente */
#quiz, #results {
    display: none;
}

/* Container para as opções de respostas */
.options {
    margin-top: 20px;
}

/* Estilos para cada opção de resposta */
.option {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Estilo para a opção selecionada */
.option.selected {
    background-color: #c0c0c0;
}

/* Container para os botões de navegação */
.buttons {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20px;
    text-align: center;
}

/* Estilos para os botões */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
}

/* Estilos para os botões desabilitados */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos para as respostas na revisão */
.answer {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para respostas corretas */
.correct {
    background-color: rgba(0, 128, 0, 0.2); /* Verde com transparência */
}

/* Estilos para respostas incorretas */
.incorrect {
    background-color: rgba(255, 0, 0, 0.2); /* Vermelho com transparência */
}

.mensagem {
    text-align: center;
}
